.box_contacts {
  background-color: var(--white);
  padding: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 15px;
}
.box_contacts h2 {
  font-weight: 500;
  margin: 10px 0 10px 0;
  font-size: 21px;
  color: var(--primary);

}
.box_contacts i {
  font-size: 46px;
  color: var(--dark);
}

.box_contacts small {
  display: block;
  color: var(--dark);
}

iframe.map_contact {
  border: 0;
  width: 100%;
  height: 330px;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

input {
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background: var(--white);
  border: 2px solid var(--white);
  color: var(--dark);
}


textarea {
  background: var(--white);
  border: 2px solid var(--white);
  color: var(--dark);
  font-size: 14px;
  padding: 10px;
  resize: vertical;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 140px;
}
